#room-bar .icon-room {
    background: url('http://i.imgur.com/HiNqDEI.png');
}

.icon-chat-host > span {
    color: #e74c3c !important;
}

#playlist-panel {
    opacity: .85;
}

#footer {
    background-color: rgba(0,0,0,0.7) !important;
}

#playback-controls .button.snooze {
    background: #00afe4 !important;
    opacity: .7;
}

#playlist-button {
    background: #a635ff !important;
}

#playlist-menu .menu .row.selected {
    background: #39688D !important;
}

.media-list .row.now-playing {
    background: #a635ff !important;
    border-bottom: 1px solid #ff5f7c !important;
}

#playlist-menu .menu .row .count {
    color: #a635ff !important;
}

#grab .bottom #grab.selected {
    background: #00afe4 !important;
}

#footer-user .bar .progress {
    background: #a635ff !important;
}

.experience .xp .bar .progress {
    background: #a635ff !important;
}

.activate-button span {
    color: #FFFFFF !important;
}

#playlist-activate-button {
    background: none !important;
}

#playlist-activate-button span {
    color: #a635ff !important;
}

.media-list .row.now-playing .actions {
    background: #a635ff !important;
}

.media-list .row.selected {
    background: #39688D !important;
}

.media-list .selected .actions {
    background: #a635ff !important;
}



.dialog.destructive .button.submit {
}

#room-info .button.disabled {
    background: #a635ff !important;
}

#room-info .button.enabled {
    background: #00afe4 !important;
}

#playlist-create:hover {
    background: #0191ff !important;
}

#playlist-import:hover {
    background: #0191ff !important;
}

#playlist-edit-button:hover {
    background: #0191ff !important;
}

#playlist-shuffle-button:hover {
    background: #0191ff !important;
}

#playlist-delete-button:hover {
    background: #c42e3b !important;
}

.tab-menu button.selected {
    background: #a635ff !important;
}

#dj-button .left {
    background: #00afe4 !important;
}

#dj-button.is-leave .left {
    background: #a635ff !important;
}

#dj-button.is-quit .left {
    background: #a635ff !important;
}

.delete-button {
    background: rgba(68,74,80,0.30) !important;
}

.delete-button:hover {
    background: rgba(166,53,255,0.30) !important;
}

.icon-plug-dj {
    display: none;
}

#chat .icon .icon-p3 {
    background-image: url('') !important;
}

#user-lists .header .button.staff.selected {
    border-bottom: 1px solid #a635ff !important;
}

#user-lists .list-header  {
	background: transparent !important;
}

#user-lists .user  {
	background: transparent !important;
}

#user-lists .list .user .name {
	color: white !important;
}

#user-lists .list.staff .group {
	background: transparent !important;
}

.icon-chat-host + span {
    color: #e74c3c !important;
}

.icon-chat-cohost + span {
    color: #e74c3c !important;
}

.icon-chat-manager + span {
    color: #f1c40f !important;
}

.icon-chat-bouncer + span {
    color: #119aff !important;
}

.icon-chat-dj + span {
    color: #2ecc71 !important;
}

.message, .app-right, .mention, .moderation, .emote, .skip, .system, .update, .welcome{
	background: rgba(0,0,0,0.5) !important;
}

.app-right {
    background: rgba(0,0,0,0.7) !important;
}

#chat-messages {
    border: none !important;
}

#chat-header {
	background: rgba(0,0,0,0.5) !important;
}

.room-background {
	max-width: 2000px !important;
}

#chat .emote #chat .mention #chat .message #chat .moderation #chat .skip #chat .system #chat .update #chat .welcome {
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
}

#chat .message:hover #chat .emote:hover #chat .update:hover {
    -moz-transition: 100ms linear 50ms;
    -o-transition: 100ms linear 50ms;
    -webkit-transition: 100ms linear 50ms;
    border-left: #FFFFFF 1px solid;
    padding-left: 1px;
    text-decoration: none;
    transition: 100ms linear 50ms;
}

#chat .moderation:hover {
    -moz-transition: 100ms linear 50ms;
    -o-transition: 100ms linear 50ms;
    -webkit-transition: 100ms linear 50ms;
    border-left: #FF7676 1px solid;
    padding-left: 1px;
    text-decoration: none;
    transition: 100ms linear 50ms;
}

#chat .message, .msg{
    animation: fade 1s;
	-webkit-animation: fade 1s;
}

@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.drag-media-box {
    background-color: #a635ff
}

body {
    background-size: 100% auto !important background-attachment: fixed 0px 0px !important
}

#footer, #playlist-button, #footer-user .buttons .button, .app-header, #app-menu, #rs-skip-button, #history-button, .jspDrag, .action {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
#footer-user .buttons {
  height: 54px !important;
}
.social-menu {
  display: none !important;
}
.cm {
  background: transparent !important;
}
.bar-divider {
  display: none !important;
}
#history-button {
  width: 55px !important;
}
.header-panel-button {
  border-right: 0 !important;
}
.timestamp {
  color: white !important;
}
#waitlist .list .user {
  background: transparent !important;
}
#waitlist .list .user .meta {
  border-bottom: none;
}
.app-right .friends .list-header {
  border-bottom: none !important;
}
.friends {
  background: transparent !important;
}
.list-header .input-background {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  background: transparent !important;
}
.jspTrack {
  background: transparent !important;
}
#vote .crowd-response {
  margin: 0 !important;
}
.votes-rs {
  width: 168px !important;
  margin-top: -198px !important;
  border-bottom: none !important;
}
#chat-input {
  background: transparent !important;
}
#user-lists .list.staff .group {
  border: none !important;
}
#user-rollover {
  background: rgba(0,0,0,0.6) !important;
}
.action {
  background: transparent !important;
}
#user-lists .list.staff .group:first-child {
  border-top: none !important;
}
#meh {
  display: none !important;
}
#grab {
  border-radius: 0 4px 4px 0;
}
.icon.icon-chat-host {
  background: url('http://i.imgur.com/jRoXw1j.png');
}
.icon.icon-chat-manager {
  background: url('http://i.imgur.com/1IiTFhw.png');
}
.icon.icon-chat-bouncer {
  background: url('http://i.imgur.com/bFaXJNP.png');
}
.icon.icon-chat-dj {
  background: url('http://i.imgur.com/zl4IRms.png');
}


/* Y0KAII */
#chat-messages .id-13437962 .badge-box i {
    background-image: url('http://i.imgur.com/MImrPIR.jpg');
    background-size: cover;
}
/* Sinocracy */
#chat-messages .id-5126600 .badge-box i {
    background-image: url('http://i.imgur.com/aLZavM4.jpg');
    background-size: cover;
}
/* MakoBOT */
#chat-messages .id-13705363 .badge-box i {
    background-image: url('http://i.imgur.com/zv7W7wS.jpg');
    background-size: cover;
}
/* mistmurk */
#chat-messages .id-5180540 .badge-box i {
    background-image: url('http://i.imgur.com/HJtIklf.png');
    background-size: cover;
}
/* vintroxx */
#chat-messages .id-5841308 .badge-box i {
    background-image: url('http://i.imgur.com/eMQV6Dc.jpg');
    background-size: cover;
}
/* Euan */
#chat-messages .id-3888608 .badge-box i {
  background-image: url('http://i.imgur.com/UaQIvgA.png');
  background-size: cover;
}
