#room-bar .icon-room {
    background: url('http://i.imgur.com/HiNqDEI.png');
}

#playback-container {
    background-image: url();
    background-position: center;
    background-size: 100% auto;
}

#chat .message:nth-child(2n+1) #chat .mention:nth-child(2n+1) #chat .skip:nth-child(2n+1) #chat .moderation:nth-child(2n+1) #chat .emote:nth-child(2n+1) #chat .update:nth-child(2n+1) #chat .welcome:nth-child(2n+1) {
    background-color: rgba(17 19 23 0.32);
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
    animation: fadein 0.25s;
    background-color: #111317;
    border-radius: 0px;
}

#chat #chat-input {
}
/* Hanabi */
#chat-messages .id-4204811 .badge-box i.bdg {
    background-image: url(http://i.imgur.com/7o0wqzU.png);
    background-size: cover;
}
/* Moryo */
#chat-messages .id-3973162 .badge-box i.bdg {
    background-image: url(http://i.imgur.com/G1Y93Jc.png);
    background-size: cover;
}

/* Tempall */
#chat-messages .id-13691193 .badge-box i.bdg {
    background-image: url(http://i.imgur.com/A6x7wpJ.png);
    background-size: cover;
}
/* Kitsun */
#chat-messages .id-3371657 .badge-box i.bdg {
    background-image: url(http://i.imgur.com/kYgGnxI.png);
    background-size: cover;
}

/* JAAC */
#chat-messages .id-13455805 .badge-box i.bdg {
    background-image: url(http://i.imgur.com/uZ59Voi.png);
    background-size: cover;
}

[data-cid^="3973162-"].cm .msg .from .un, .role-manager.id-3973162 .name
{
        color:                  #000 !important;
        text-shadow:            0px 0px 1px #ff66a7, 0px 0px 5px #ff66a7, 0px 0px 10px #ff66a7 !important;
}

/*[data-cid^="4204811-"].cm .msg .from .un, .role-manager.id-4204811 .name
{
        color:                  #ff5273 !important;
        text-shadow:            0px 0px 1px #7636F4, 0px 0px 5px #7636F4, 0px 0px 10px #7636F4 !important;
}*/

.icon-chat-host > span {
    color: #a635ff !important;
}

#playlist-panel {
    opacity: .85;
}

#footer {
    background-color: rgba(0,0,0,0.3) !important;
}

#playback-controls .button.snooze {
    background: #00afe4 !important;
    opacity: .7;
}

#playlist-button {
    background: #a635ff !important;
}

#playlist-menu .menu .row.selected {
    background: #39688D !important;
}

.media-list .row.now-playing {
    background: #a635ff !important;
    border-bottom: 1px solid #ff5f7c !important;
}

#playlist-menu .menu .row .count {
    color: #a635ff !important;
}

#grab .bottom #grab.selected {
    background: #00afe4 !important;
}

#footer-user .bar .progress {
    background: #a635ff !important;
}

.experience .xp .bar .progress {
    background: #a635ff !important;
}

.activate-button span {
    color: #FFFFFF !important;
}

#playlist-activate-button {
    background: none !important;
}

#playlist-activate-button span {
    color: #a635ff !important;
}

.media-list .row.now-playing .actions {
    background: #a635ff !important;
}

.media-list .row.selected {
    background: #39688D !important;
}

.media-list .selected .actions {
    background: #a635ff !important;
}



.dialog.destructive .button.submit {
}

#room-info .button.disabled {
    background: #a635ff !important;
}

#room-info .button.enabled {
    background: #00afe4 !important;
}

#playlist-create:hover {
    background: #0191ff !important;
}

#playlist-import:hover {
    background: #0191ff !important;
}

#playlist-edit-button:hover {
    background: #0191ff !important;
}

#playlist-shuffle-button:hover {
    background: #0191ff !important;
}

#playlist-delete-button:hover {
    background: #c42e3b !important;
}

.tab-menu button.selected {
    background: #a635ff !important;
}

#dj-button .left {
    background: #00afe4 !important;
}

#dj-button.is-leave .left {
    background: #a635ff !important;
}

#dj-button.is-quit .left {
    background: #a635ff !important;
}

.delete-button {
    background: rgba(68,74,80,0.30) !important;
}

.delete-button:hover {
    background: rgba(166,53,255,0.30) !important;
}

.icon-plug-dj {
    display: none;
}

#chat .icon .icon-p3 {
    background-image: url('') !important;
}

#user-lists .header .button.staff.selected {
    border-bottom: 1px solid #a635ff !important;
}

#user-lists .list-header  {
	background: rgba(0,0,0,0.65) !important;
}

#user-lists .user  {
	background: rgba(0,0,0,0.3) !important;
}

#user-lists .list .user .name {
	color: white !important;
}

#user-lists .list.staff .group {
	background: rgba(0,0,0,0.5) !important;
}

.icon-chat-ambassador + span {
    color: #89be6c !important;
}

.icon-chat-host + span {
    color: #a635ff !important;
}

.icon-chat-cohost + span {
    color: #a635ff !important;
}

.icon-chat-manager + span {
    color: #0191ff !important;
}

.icon-chat-bouncer + span {
    color: #01e1ff !important;
}

.icon-chat-dj + span {
    color: #89BE6C !important;
}

.message, .app-right, .mention, .moderation, .emote, .skip, .system, .update, .welcome{
	background: rgba(0,0,0,0.5) !important;
}

.app-right {
    background: rgba(0,0,0,0.3) !important;
}

#chat-messages {
    border: none !important;
}

#chat-header {
	background: rgba(0,0,0,0.5) !important;
}

.room-background {
	max-width: 2000px !important;
}

#chat .emote #chat .mention #chat .message #chat .moderation #chat .skip #chat .system #chat .update #chat .welcome {
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
}

#chat .message:hover #chat .emote:hover #chat .update:hover {
    -moz-transition: 100ms linear 50ms;
    -o-transition: 100ms linear 50ms;
    -webkit-transition: 100ms linear 50ms;
    border-left: #FFFFFF 1px solid;
    padding-left: 1px;
    text-decoration: none;
    transition: 100ms linear 50ms;
}

#chat .moderation:hover {
    -moz-transition: 100ms linear 50ms;
    -o-transition: 100ms linear 50ms;
    -webkit-transition: 100ms linear 50ms;
    border-left: #FF7676 1px solid;
    padding-left: 1px;
    text-decoration: none;
    transition: 100ms linear 50ms;
}

/* #chat .message:nth-child(2n+1)#chat .mention:nth-child(2n+1)#chat .skip:nth-child(2n+1)#chat .moderation:nth-child(2n+1)#chat .emote:nth-child(2n+1)#chat .update:nth-child(2n+1)#chat .welcome:nth-child(2n+1) {
    background-color: rgba(17 19 23 1.0);
    -webkit-animation: fade 5s;
    animation: fade 5s;
    opacity: 1;
} */

#chat .message, .msg{
    animation: fade 1s;
	-webkit-animation: fade 1s;
}

@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.drag-media-box {
    background-color: #a635ff
}

body {
    background-size: 100% auto !important background-attachment: fixed 0px 0px !important
}
